<!--
                               `/+o/.
                           .+sso+/:oydyo/:-:+shdys/    `-:.     `-/+o+/`
                       `/sdh+/::/::ss:`ymdhyso//hmMNyhNNms+ososys+/-:/shms/`
                    .+hNNy++oo+/.`.--/osyhdmNNMMMMMMMMMNdsssssoso+hhhhsoo+ymdo.
                  -smNy/+ymmmmmNNNNMNMMMMMNNNmmNMMMMMMMMMho:///:--shydNMMNdo-sNs`
                -hNd+-sNMNdmNMMMNNNMNNNMMMddNMMNNmNMMMMMMNmy+///::/:-:/++ymNNdmMN:
              `sNMs`+NMNNNMMMMNNNMMMMMMNmhyso///+ohMmoNMmoo+/::/-:oymNNmsosshdhmMM/
             +NMMy`hMMMhyNMNMMNNNMds:-.`-:syddmNMMmyo`+yMMho:..-+//++omMNNNNNNNmdNMs
           :mMMMh`yMNdodNNNMNMMMs.+sdmmmmmdhNMMMNhy/..`-syhNmdyssso+/.`:yNMMMMNMNMMMy
          :NMNh:-+MMh+mdNNNNNMd.+NNMMMMMMMMmho:-......:--::ohNMMMMMMNmNy/.oNMNmNMNMMMs
         :NMm+/dmmMNydyhNdhMMN.yMMNmhysso+:-``        ```.--:/+sdMMMMMNNNm:-mMNNNNMMMMy
        :NMy/hNMMMMmNddsh/NmMy-Mms:..`.--.`                ``..-.:yNMMMMNMNs:NMMMNNNNMMy
       :NNy/mMMMMMMmNMMshsNdMo/d-...``                       ```...-yMMMNNMd`NMMNMdmoNMM-
      /mMm+NMNNMMNMNNNNNNNNMMmom/                              ```..`+NMMMMh`NMMMMNNdhNMh
     +NMMmmMNyNMNMMMMMNmmmNMdNNyh+.                             ``````/NMMM::MMMMNMNNmNMN
    +MNNMMMNymMNNMMMNNNNNMh+:+dNmddhyoo+`                        ````.`sMMN`sMNNMNNMNNNNN
    dNNNMNNddMNNNNNNmymMN+---::/shdhyyy:                         `````..hMo.NMNMNMMMNmMMd
    dNNNMMNmNNNmmNMNdNMM+.-..----.-:::.                          ````...:mh/NMMMNMMMNNMMh
    sMNNMMNMNNmyNMNdmNMo--.....                                  ``...---:dNMNMMNMMNNNMMN.
    :NNNMMMNNNsmMNmMNMy...`.-.`                                    `.-----:odNmmNMMMMMNMMo
    .NMMMmMMMNmMNNNNMm:-.```..                                       ``-----:/o//dMMMNMMMm
    .NMMMNMMNMMNMNNNNs--.``...                                          `....---..dMNMMMMM`
    .NNMMNNNNNMMMNNNN:-...`...                                           ```.....`+MMMMMMM.
    .MNNNNNNNMMMMMNNy.......-.`                                          ``..---.`.NMMMMMM`
    `NMNMMNNNMMNMMMm-...`.-----.`                                        ``.-----.`yMMMMMd
     dMMMNNNNMMNNMMo`-....----..`          ``                      `.`` ```.------`:MMMMM-
     /MMNMNNNMMNMMN-`.`..-.--.` `--..-:-.-.``..``               ```.-......--.----..NMMMd
     `mMNMNNMMMNNMN.``...-.-../hddyysyhysyyso+--/::-..--...----:::+syyyyhhdddy+:-.-.hMMM:
      :NNNNNNMMMMMN.`....--.:dy/:-.-/+++ososss+/:+shyo/::/:+os+:+syosyoso+/://ss//.`+MMm
       +MdmNNMNMMMN+.--....:+-.-:+ooymdddmdhyo++ss+/yMo.`..oNsyhdhmdmmmmNmdo:-.--:+-:MM/
      `y/..-+dNNMMMo-shhyo++--+sso-`dsymoso.smyso+//.od+/:/ho+yyhd/ymsNhyy./yy/``.-hhmm`
      .s+md+- oMMMm``.-/sy//-.+/s.  odys+s-  /shyso+.sm+:::yd/hh+:`.hyyhy- `/y/.` `hs/s`
      -oyMNyhs:NMMo     `.-`         .---` ``.`/::+s/ms````-mo+:`````.--` ````     `sNm`
      `hsMh`.hymMM:       `-         `          .:+:hy`     od:-`                  .+sM-``
       o+o/``-/mMM-        .-                ``.```hy`       s.`.`                 -/+M+``
       .s `./NMMMM-         --            ````  `:ho`        .s`  ```             ./.+My`
        /: `+MMdMM/          -.  `       `   ..+++-           :d/.             ``:o-`oMy
         o. .sdNMMm`            `--:://+//.`-///:.           `.ohooo:-.`` `.-:+//:..`hMy
         `s```.yMMMs                  ```     .y+  `::.:----.-``o:-::/:::--:::-----..mMo
          :s` `oMNMN-                         :N+  -NNhy/:/sds./:..----------------`/MN.
           +o``-NMNMd`                      `-syyoo++/.++:so/+yN+..--....-..-....--`dM+
            +:.`oMNNN`                     .:-` `.::.` `--..---/+/---.```........-.:d:
             ./++Ny::`                   `--`          .--..-----::-..```......---.s.
               `:os.--`                  .`            `.. ``.------.`.```..-----.:o
                 `h-..`                 ``        .:syy/-/ydho-.--...`````.------.+.
                  +o`.`                        ./ymNNNNNNNmmNNNh:....``.```.-----:s
                  `h-`.                    -/+oyo/:----:---.--:+sso:........--::-+:
                   /d...                 `.++:  -:--/+:/oo+o++-.``--.....-----:-:y
                   `Md:.`                ``     `-:/+ooooo+/-........-----------yo
                    mNNs-`                     `..-/oo+://:/oo:......----------os
                    h:+md:.                  ...``.`         `------.---------++
                   `h..-+ddo.`                            ``.----------------s:
                    h` .--/ydy:`                   `...--------------------+y.
                    h`   ..--+yds+.`               `....----------------:+dN`
                   `y      `.-.-:sdhs:.`    `...````..----------------:smsdm
                   `h         .--..-+ymdy+/:----:----------------.-/shs+.`os
                   `h           `..--..:sdmmhyo/::----------::/+syhy/....`+-
                   -y              `..--..--/oosyyyhhhyyyssoooo/:.`...`.` /-
-->
<!doctype html>
<html>
<head>
<title>show.bravo</title>
<style>
body {
	background: #f0f0e6;
	text-align: center;
	margin: 0;
	font: 12px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#header {
	text-align: left;
	height: 40px;
	color: #fff;
	font-size: 1.5em;
	line-height: 40px;
	background: url('images/header_bg.jpg');
}

#logo {
	vertical-align: middle;
}

#wrapper {
	margin-bottom: 50px;
	width: 800px;
	margin: 0 auto;
	text-align: left;
}

#content {
	min-height: 400px;
	border: 1px solid #d5d5cc;
	border-top: 0;
	background: #fff;
	width: 800px;
	color: #484845;
}

hr {
	border: 0;
	border-bottom: 1px solid #d5d5cc;
}

#content h1, #content h2, #content p {
	padding: 0;
	margin: 0 0 10px;
}

#content p {
	font-size: 13px;
}

#content a {
	color: #000;
}

.padding {
	padding: 15px;
}
</style>
</head>
<body>
<div id="header"><div id="wrapper">
	<img src="images/logo.png" alt="The Nerdery" id="logo" />?
</div></div>
<div id="wrapper">
	<div id="content"><div class="padding">
		<%- body %>
	</div></div>
</div>
</body>
</html>
